

/*---------------- [ 短代码 ]------------------*/

.shortcodestyle {
    margin:20px 0px;
    padding:15px 15px 15px 80px;
    position:relative;
    -moz-box-shadow:0px 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.2);
    box-shadow:0px 1px 2px rgba(0,0,0,0.2);
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -khtml-border-radius:5px;
}
.shortcodestyle a {
    padding:0px;
}
.shortcodestyle a:hover {
    background:none;
    border-radius:0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -khtml-border-radius:0px;
}
.warning {
    background:url(../img/bell.png) no-repeat scroll 15px 15px #FFEA97;
    border:1px solid #E1B400;
    color:#9F6F26;
}
.warning a {
    color:#A84A1E;
    border-bottom:1px  dotted #A84A1E;
}
.warning a:hover {
    color:#A84A1E;
    border-bottom:1px solid #A84A1E;
}
.noway {
    background:url(../img/noway.png) no-repeat scroll 15px 15px #EFCEC9;
    border:1px solid  #BE1F1F;
    color:#820B0B;
}
.noway a {
    color:#F60;
    border-bottom:1px  dotted #F60;
}
.noway a:hover {
    color:#F60;
    border-bottom:1px solid #F60;
}
.buy {
    background:url(../img/buy.png) no-repeat scroll 15px 15px #EFF4D4;
    border:1px solid  #8FAD3D;
    color:#779B39;
}
.buy a {
    color:#2b2b2b;
    border-bottom:1px  dotted #2b2b2b;
}
.buy a:hover {
    color:#2b2b2b;
    border-bottom:1px solid #2b2b2b;
}
.task {
    background:url(../img/clipboard.png) no-repeat scroll 15px 15px  #E7E7E7;
    border:1px solid  #CCC;
    color:#333;
}
.task a {
    color:#4B7126;
    border-bottom:1px dotted #4B7126;
}
.task a:hover {
    color:#4B7126;
    border-bottom:1px solid #4B7126;
}
.shortcodestyle,.warning,.noway,.buy,.task p {
    text-indent:0;
}


/*---------------- [ 图片暗箱]------------------*/


/* SLIMBOX */

#lbOverlay {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    cursor: pointer;
}

#lbCenter, #lbBottomContainer {
    position: absolute;
    z-index: 9999;
    overflow: hidden;
    background-color: #fff;
}

.lbLoading {
    background: #fff url(../img/loading.gif) no-repeat center;
}

#lbImage {
    position: absolute;
    left: 0;
    top: 0;
    border: 10px solid #fff;
    background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
    display: block;
    position: absolute;
    top: 0;
    width: 50%;
    outline: none;
}

#lbPrevLink {
    left: 0;
}

#lbPrevLink:hover {
    background: transparent url(../img/prev.gif) no-repeat 0 15%;
}

#lbNextLink {
    right: 0;
}

#lbNextLink:hover {
    background: transparent url(../img/next.gif) no-repeat 100% 15%;
}

#lbBottom {
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
    font-size: 10px;
    color: #666;
    line-height: 1.4em;
    text-align: left;
    border: 10px solid #fff;
    border-top-style: none;
}

#lbCloseLink {
    display: block;
    float: right;
    width: 66px;
    height: 22px;
    background: transparent url(../img/close.gif) no-repeat center;
    margin: 5px 0;
    outline: none;
}

#lbCaption, #lbNumber {
    margin-right: 71px;
}

#lbCaption {
    font-weight: bold;
}